.page {
  min-height: 1559px;
  background: #fafafa;
}

.main {
  width: min(1160px, calc(100% - 32px));
  margin: 0 auto;
  padding-bottom: 81px;
}

@media (max-width: 767px) {
  .page {
    min-height: 100vh;

    background: #ffffff;
  }

  .main {
    width: min(343px, calc(100% - 32px));

    margin: 0 auto;

    padding-bottom: 29px;
  }
}
