.page {
  min-height: 100vh;

  background: #fafafa;
}

.main {
  width: min(1160px, calc(100% - 32px));

  margin: 0 auto;

  padding-bottom: 80px;
}

@media (max-width: 600px) {
  .page {
    width: 100%;

    overflow-x: clip;

    background: #ffffff;
  }

  .main {
    width: calc(100% - 32px);
    max-width: 343px;

    margin-right: auto;
    margin-left: auto;

    padding-bottom: 40px;
  }
}